#category{
    margin: 100px 70px 150px;
    position: relative;
}

.category_sub{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 25px;
}

.category_cards{
    display: flex;
}
.category_card{
    position: relative;
    margin-right: 15px;
    height: 500px;
width: 436px;

    background: linear-gradient(357.71deg, rgba(5, 36, 43, 1) 21.46%, rgba(5, 36, 43, 0) 98.66%);
}

.category_card img{
height: 500px;
width: 436px;
margin: 0;
opacity: .25;
}

.category_card p{
    position: absolute;
    top: 70%;
    left: 10%;
    color: var(--background);
    font-size: 40px;
    font-weight: 800;
    width: 250px;
}

.gradient_overlay{
width: 430px;
height: 100%;
background-color: firebrick;
/* background: linear-gradient(357.71deg, #05242B 2.46%, rgba(5, 36, 43, 0) 98.66%); */

}

.explore{
    position: absolute;
width: 159px;
height: 38px;
left: 90%;
top: 5%;

font-weight: 500;
font-size: 32px;
line-height: 38px;
/* identical to box height */

text-align: center;
color: var(--primary-yellow);
}