:root {
  --background: #eaeaea;
  --foreground: #f0f0f0;
  --blue: #1dceda;
  --green: #21c144;
  --primary-dark: #05242b;
  --primary-yellow: #f6990e;
  --red: #da2b2b;
  --black: #111111;
  --gradient: linear-gradient(357.13deg, #05242b 20.95%, #076175 83.13%);
  --white: #ffffff;
  --image-shadow: -1px -1px 10px 5px rgba(151, 98, 231, 0.15);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--background);
}
html{
  scroll-behavior: smooth;
}
section {
  margin: 0 auto;
}

button{
  cursor: pointer;
}
button:hover{
  background-color: var(--foreground);
  color: var(--primary-yellow);
}