#popular {
  background-color: var(--foreground);
  width: 92vw;
  height: 13rem;
  /* width: 1320px; */
  position: absolute;
  left: 60px;
  top: 75%;
  /* margin-top: -50px; */
  border-radius: 10px;
  box-shadow: var(--image-shadow);
}

h3 {
  position: absolute;
  width: 50%;
  height: 38px;
  left: 10px;
  top: -50px;
  font-size: 35px;
  color: var(--foreground);
}
.items{
  width: 100%;
  display: flex;
  padding: 30px 70px;
  justify-content: space-evenly;
  text-align: center;
  align-content: center;
}

.item img{
height: 120px;
width: 120px;
margin: 0 auto;

}
.item {
justify-content: center;
align-content: center;
}
.item figcaption{
  font-size: 1.2rem;
  margin-top: 20px;
}